# Exclude virtual environment
/.venv
/venv

# Exclude YOLO training results
/runs

# Exclude dataset
/Tomato-Leaf-Disease-63

# Ignore pycache
**/__pycache__/

# Exclude personal tokens
.env

**.db
**.pt
**.zip